.notfound-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.notfound-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.notfound-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.notfound-link {
  padding: 0.5rem 1.5rem;
  background-color: #2563eb; 
  border-radius: 0.375rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.notfound-link:hover {
  background-color: #1d4ed8; 
}
