/* CreateBlog.css */

.create-blog-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 0 20px;
  font-family: Arial, sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  width: 150px;
  font-weight: bold;
  margin-right: 10px;
}


.form-group input{
    flex: 1;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
}
.form-group textarea {
  flex: 1;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  display: block;
  margin-left: 160px;
  padding: 10px 25px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: auto;
    margin-bottom: 5px;
  }

  .submit-button {
    margin-left: 0;
    width: 100%;
  }
  
}