/* Home.css */
.blog-container {
  padding: 1rem;
  width: 100%;
}

.blog-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-subheader {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2.25rem;
}

.blog-grid {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
@media (min-width: 640px) {
  .blog-grid {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .blog-grid {
    flex-direction: row;
  }
}

.blog-card {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
}
.blog-card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
}

.delete_btn {
    color: white;
    background-color: #e74c3c;
    border: none;
    padding: 4px 7px;
    border-radius: 4px;
    cursor: pointer;
}


.blog-card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-view-link {
  color: #3b82f6;
  text-decoration: none;
}
.blog-view-link:hover {
  text-decoration: underline;
}
